
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared-styles */
.display-flex{
    display: flex;
}

main > section{
    margin-top: 130px;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-prm{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header-styles */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar-style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-link{
text-decoration: none;
font-weight: 500;
font-size: 1.2rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

/* banner-style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.baaner-title{
font-weight: 700;
font-size: 4rem;
}

.baaner-description{
font-weight: 400;
font-size: 1rem;
}

.banner-img{
    width: 100%;
    margin-bottom: 50px;
}

/* team style */

.team{
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    max-width: 537px;
    margin-left: 73px;
}

.team-title1{
font-weight: 500;
font-size: 2.8rem;

}
.team-title2{
font-weight: 700;
font-size: 2.8rem;
}
.team-title3{
font-weight: 700;
color: #FF900E;
font-size: 2.8rem;
}
.team-description{
    font-weight: 400;
    font-size: 1rem;
    margin: 25px 0;
}

/* features styles */

.features{
    gap: 146px;
}

.features-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-weight: 700;
    font-size: 2.8rem;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20ox;
    border-radius: 8px;
    gap: 30px;
}

.ftr-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.ftr-card-text{
    font-weight: 400;
    font-size: 1rem;
}

.feature-architect img{
width: 100%;
}

.btn-features{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-left: -92px;
    margin-top: -123px;

}
.btn-features h1{
font-weight: bold;
font-size: 4rem;
color: white;
margin: 0 auto;
}

.btn-features p{
font-weight: 500;
font-size: 1.5rem;
color: white;
margin: 0 auto;
}

/* some facts style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin: 100px auto;
    gap: 124px;
    margin-left: 50px;
}

.facts-title{
   font-weight: 700;
   font-size: 2.8rem; 
}
.facts-description{
    font-weight: 400;
    font-size: 1rem;
    width: 542px;
    margin-top: 10px;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin: 0 auto;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 auto;
}
.fact-card{
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
    width: 242px;
    height: 242px;
}
.fact-icon{
    margin-top: 50px;
}

/* sponsors style */

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-title{
    font-weight: 700;
   font-size: 2.8rem; 
}

.sponsors-text{
   font-weight: 400;
    font-size: 1rem; 
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer style */

.footer{
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    max-width: 1440px;
    height: 100px;
    margin: 130px auto;
    background-color: #FFF4E7;
}
.footer p{
    padding: 39px 0;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .team, 
    .features{
    flex-direction: column;
    }
     .team-img, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
     }
     .team-content{
        margin-left: 20px;
     }
     .facts-title{
        margin: 0 auto;
     }
     .facts-container {
        justify-items: center;
        margin-left: auto;
     }
     .facts-description{
        width: auto;
     }
     .sponsor-companies{
        justify-content: center;
        gap: 50px;
        justify-items: center;
     }
     .btn-features{
        margin-top: 20px;
        margin-left: 20px;
     }
     
    }
     /* medium size device */
    @media screen and (min-width: 576px) and (max-width: 992px) {
        .team, .features{
            flex-direction: column;
        }
        .team-content{
            margin: 50px auto;
        }
        .facts-container, .sponsor-companies{
            grid-template-columns: repeat(2, 1fr);
            
        }
        .sponsor-companies{
            justify-content: center;
            justify-items: center;
            gap: 50px;
        }
         .btn-features{
        margin-top: 20px;
        margin-left: 20px;
     }
        
    } 